<div id="results" class="results">
    <h4 class="results__title">RESULTS</h4>
    <ul class="result__list">
        <li><a href="http://www.coolrunning.com/results/14/ma/Oct19_9thAnn_set1.shtml">2014</a></li>
        <li><a href="http://www.coolrunning.com/results/13/ma/Oct20_MilesF_set1.shtml">2013</a></li>
        <li><a href="http://www.coolrunning.com/results/12/ma/Oct21_Milesf_set1.shtml">2012</a></li>
        <li><a href="http://www.coolrunning.com/results/11/ma/Oct23_Milesf_1_set1.shtml">2011</a></li>
        <li><a href="http://www.coolrunning.com/results/10/ma/Oct24_Milesf_set1.shtml">2010</a></li>
        <li><a href="http://www.coolrunning.com/results/09/ma/Oct4_MilesF_set1.shtml">2009</a></li>
        <li><a href="http://www.coolrunning.com/results/08/ma/Oct26_MilesF_set1.shtml">2008</a></li>
        <li><a href="http://www.coolrunning.com/results/07/ma/Sep30_MilesF_set1.shtml">2007</a></li>
        <li><a href="http://www.coolrunning.com/results/06/ma/Oct1_Milesf_set1.shtml">2006</a></li>
    </ul>
</div>
