<nav class="navigation">
      <div id="nav">
          <ul>
              <li><a href="#info">Event Info</a></li>
              <li><a href="#register">Register</a></li>
              <li><a href="#Kyle">Kyle's Story</a></li>
              <li><a href="#epilepsySurgery">Pediatric Epilepsy Surgery</a></li>
              <li><a href="#results">Results</a></li>
          </ul>
      </div>
</nav>
