@import url("http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800");

@import url(http://weloveiconfonts.com/api/?family=brandico);

/* brandico */
[class*="brandico-"]:before {
  font-family: 'brandico', sans-serif;
}

// variables
$blue: #0B2E59;
$yellow: #F6C326;
$light-green: #A0C55F;
$green: #7AB317;
$light-green-translucent: rgba(160,197,95,0.75);
$purple: #2A044A;
$dark-gray: rgb(85, 85, 85);
$dark-green: #0D6759;
$blue-translucent: rgba(11,46,89,0.6);

body {
    font-family: 'Open Sans', sans-serif;
}

a {
    color: $green;
}

iframe {
    width: 100%;
}
// sections
.header {
    position: fixed;
    text-align: center;
    width: 100%;
    background-color: $blue;
    color: #fff;
    top: 0px;
    z-index: 100;
    &__title {
        display: inline-block;
        font-size: 25px;
        letter-spacing: 3px;
        font-weight: normal;
    }
    &__menu-btn {
        position: absolute;
        right: 10px;
        top: 50%;
        margin-top: -12px;
        img {
            width: 25px;
        }
    }

    @include respond-to($tablet) {
        &__title {
        }
        &__menu-btn {
            display: none;
        }
    }
}

.alert {
    background-color: #ffde00;
    width: 100%;
    p {
        margin: 0;
        text-align: center;
        font-size: 22px;
        padding: 15px 10px 5px 10px;
        color: $blue;
        line-height: 125%;
    }
    .alert-copy {
        font-size: 15px;
        margin: 0;
        padding: 5px 10px 15px 10px;
    }
}

.nav {
    display: none;
    position: fixed;
    width: 100%;
    background: $blue;
    /*border-top: 2px solid $dark-gray;*/
    z-index: 10;
    color: #fff;
    top: 55px;
    padding-top: 0px;
    padding-bottom: 5px;
    text-align: center;
    &__item {
        display: block;
        color: #fff;
        text-decoration: none;
        padding-bottom: 10px;
        padding-top: 10px;
        border-top: 1px solid $light-green-translucent;
        text-transform: uppercase;
    }

    @include respond-to($tablet) {
        display: block;
        padding: 0;
        margin-top: -13px;

        &__item {
            display: inline-block;
            border: none;
            margin-left: 25px;
            margin-right: 25px;
            font-weight: lighter;
        }
    }
}

.bold {
    font-weight: bold;
}

.banner {
    text-align: center;
    color: #FFF;
    background: #222222 url(../images/banner.jpg) no-repeat;
    background-size: cover;
    min-height: 450px;
    background-position-y: 55px;
    background-position-x: -200px;
    hr {
        border-style: solid;
        width: 90%;
        border-width: 1px;
        border-bottom: 0;
        color: $dark-green;
    }
    &__title {
        margin: 0;
        margin-bottom: 5px;
        color: $purple;
        font-size: 25px;
    }
    &__description {
        margin: 0;
    }
    &__invitation {
        margin: 0;
        margin-bottom: 5px;
        .bold {
            margin-top: 2px;
            margin-bottom: 2px;
            display: inline-block;
        }
    }
    &__date {
        margin: 0;
        color: $purple;
        font-weight: bold;
        font-size: 24px;
    }

    &__text {
        width: 90%;
        margin: 0 auto;
        padding: 10px 5px;
        box-sizing: border-box;
        background-color: $light-green-translucent;
        position: relative;
        top: 75px;
        border-radius: 3px;
        max-width: 280px;
        font-size: 18px;
    }

    @include respond-to(475px) {
        background-position-x: -150px;
    }
    @include respond-to(525px) {
        background-position-x: -100px;
    }
    @include respond-to(575px) {
        background-position-x: -50px;
    }
    @include respond-to(625px) {
        background-position-x: 0px;

    }

    @include respond-to($tablet) {
        background-position-y: 50px;
        background-position-x: 0px;
        padding-bottom: 200px;


        &__text {
            display: inline-block;
            width: 50%;
            max-width: 500px;
            top: 115px;
            padding: 20px 10px;
        }
        hr {
            margin: 20px 0px;
            width: 90%;
            margin-left: auto;
            margin-right: auto;
        }
        &__title {
            font-size: 35px;
            margin-bottom: 15px;
        }
        &__description {
            font-size: 24px;
        }
        &__invitation {
            font-size: 24px;
            .bold {
                margin-top: 10px;
                display: inline-block;
            }
        }
        &__date {
            font-size: 35px;
            margin-top: 15px;
        }

    }
}

.info {
    padding-left: 5%;
    padding-right: 5%;
    color: $dark-gray;
    padding-bottom: 15px;
    &__title {
        text-align: center;
        text-transform: uppercase;
        font-size: 25px;
    }
    &__item-list {
        margin: 0;
        padding: 0;
        font-weight: lighter;
        h4 {
            font-size: 18px;
            /*text-transform: uppercase;*/
            margin-top: 25px;
            margin-bottom: 5px;
            color: #666;
        }
        p {
            margin: 0;
        }
    }
    &__item {
        display: block;
    }
    .location {
        margin-bottom: 8px;
    }

    .race-features-list {
        list-style: initial;
        padding-left: 1.25em;
        padding-right: 1.5em;
    }

    @include respond-to($tablet) {
    .center {
        text-align: center;
    }
        padding-left: 2%;
        padding-right: 2%;
        &__title {
            margin-bottom: 0px;
        }

        &__column {
            display: inline-block;
            width: 31%;
            margin-right: 1%;
            vertical-align: top;
            padding-left: 2%;
            padding-right: 2%;
            box-sizing: border-box;
        }
    }

    @include respond-to(830px) {
        &__column {
            width: 32%;
        }

    }
}

.register {
    text-align: center;
    color: $dark-gray;
    background-color: #eee;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;

    &__title {
        margin-top: 0px;
        font-size: 25px;
        text-transform: uppercase;
    }
    &__subtitle {
        font-size: 18px;
        margin-top: 0px;
        margin-bottom: 0px;
        text-align: left;
    }
    li {
        text-align: left;
        font-weight: lighter;
    }

    @include respond-to($tablet) {
        &__subtitle {
            text-align: center;
        }
        ul {
            display: inline-block;
            text-align: center;
        }
    }
}

.kyle {
    padding: 5%;
    padding-top: 5px;
    box-sizing: border-box;
    background-color: $light-green;
    color: #fff;
    width: 100%;
    font-weight: lighter;

    &__title {
        text-align: center;
        font-size: 25px;
        text-transform: uppercase;
    }

    &__pic {
        display: block;
        width: 90%;
        margin: 0 auto 15px auto;
    }
    @include respond-to($tablet) {
        &__pic {
            float: right;
            width: 50%;
            margin-left: 20px;
        }

        .kyle-profile {
            font-size: 18px;
            line-height: 28px;
            font-weight: lighter;
        }
    }
}

.epilepsySurgery {
    padding: 5%;
    padding-top: 0px;
    box-sizing: border-box;
    color: $dark-gray;
    font-size: 0;
    &__title {
        text-align: center;
        font-size: 25px;
        text-transform: uppercase;
        margin-bottom: 10px;
    }
    h3 {
        text-transform: uppercase;
    }
    h4 {
        font-size: 18px;
    }
    .our-cause__column {
        font-size: 16px;
    }

    @include respond-to($tablet) {
        .our-cause__column {
            font-size: 18px;
            display: inline-block;
            width: 50%;
            padding-left: 2%;
            padding-right: 2%;
            box-sizing:border-box;
            vertical-align: top;
            line-height: 28px;
        }
    }
}

.results {
    color: $blue;
    background-color: #eee;
    padding: 2%;
    text-align: center;

    &__title {
        text-align: center;
        font-size: 25px;
        margin: 10px 0px;
        text-transform: uppercase;
    }
    &__fb {
        color: $dark-gray;
        margin-top: 0px;
    }
    ul {
        margin: 0;
        padding: 0;
        padding: 0px 20px;
    }

    li {
        display: inline-block;
        margin-right: 15px;
        margin-bottom: 10px;
    }
}

.anchor {
    position: relative;
    top: -75px;
    @include respond-to($tablet) {
        top: -100px;
    }
}

.footer {
    background-color: $blue;
    color: #fff;
    text-align: center;
    padding: 10px 0px;
    a {
        margin-right: 5px;
        display: inline-block;
    }
}
