<div class="js-page-controller-action home-page" data-action-name="home">

    <div class="header">
        <h1 class="header__title">MILES FOR KYLE</h1>
        <a class="js-toggle-nav header__menu-btn" href="#">
            <img src="/assets/images/hamburger.svg">
        </a>
    </div>

    <nav class="nav">
        <a class="nav__item" href="#info">Event Info</a>
        <a class="nav__item" href="#register">Register</a>
        <a class="nav__item" href="#kyle">Kyle's Story</a>
        <a class="nav__item" href="#our-cause">Our Cause</a>
        <a class="nav__item" href="#results">Results</a>
        <a class="nav__item brandico-facebook-rect" target="_blank" href="https://www.facebook.com/pages/Miles-For-Kyle/131087696970346"></a>
    </nav>

    <div class="banner">
        <div class="banner__text">
            <h2 class="banner__title">5K Run &amp; 1Mile Walk</h2>
            <p class="banner__description">for pediatric epilepsy research</p>
            <hr>
            <p class="banner__invitation">Join us to celebrate our <br><span class="bold">10<sup>th</sup> anniversary!</span></p>
            <p class="banner__date">October 18<sup>th</sup>, 2015</p>
        </div>
    </div>

    <div class="info">
        <div id="info" class="anchor"></div>
        <h3 class="info__title">Event Information</h3>
        <div class="row flush">
            <div class="info__column">
                <ul class="info__item-list">
                    <li class="info__item">
                    <h4>Date</h4>
                    <p>October 18<sup>th</sup>, 2015</p>
                    </li>
                    <li class="info__item">
                    <h4>Registration Time</h4>
                    <p>8:30-9:45am</p>
                    </li>
                    <li class="info__item">
                    <h4>Start Time</h4>
                    <p>10:00am</p>
                    </li>
                    <li class="info__item">
                    <h4>Entrance Fee</h4>
                    <p>$20 per person<br>Free for children under 12</p>
                    </li>
                    <li class="info__item">
                    <h4>Race Features</h4>
                    <ul class="race-features-list">
                        <li>Cash prizes awarded to the top three men &amp; women</li>
                        <li>Water stops</li>
                        <li>T-Shirts (limited to 150 entrants)</li>
                        <li>Post-race fun and refreshments</li>
                    </ul>
                    </li>
                </ul>
            </div>
            <div class="info__column center">
                <ul class="info__item-list">
                    <li class="info__item">
                    <h4>Location</h4>
                    <p class="location">Preston Beach Park, Atlantic Ave, Swampscott, MA</p>
                    <iframe
                        width="250"
                        height="300"
                        frameborder="0" style="border:0"
                        src="https://www.google.com/maps/embed/v1/place?q=Atlantic+Avenue+and+Beach+Bluff+Avenue,+Swampscott,+MA+01907&key=AIzaSyC2Dm10cIBuFrAxYuNHsLV6TjblH6IjKOk">
                    </iframe>
                    </li>
                </ul>
            </div>
            <div class="info__column">
                <ul class="info__item-list">
                    <li class="info__item">
                    <h4>5k Running Route</h4>
                    <p>Starting line at Preston Beach Park. Proceed down Atlantic Ave. Take left onto Puritan Rd. Take left onto Winshaw Rd/Gale Rd. and follow to its end. Take right onto Puritan Rd. Take right onto Atlantic Ave and proceed to finish line at Preston Beach Park.</p>
                    </li>
                    <li class="info__item">
                    <h4>1mi Walk Route</h4>
                    <p>Starting line at Preston Beach Park. Proceed down Atlantic Ave towards Swampscott. Take left onto Blodgett to its end and return in the same direction.</p>
                    </li>
                    <li class="info__item">
                    <h4>Official Race Timer</h4>
                    <a href="http://www.fiveksport.com/" target="_blank">5K Sports</a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</div>


<div class="register">
    <div id="register" class="anchor"></div>
    <h3 class="register__title">Registration</h3>
    <h5 class="register__subtitle">You can register for this year's race:</h5>
    <ul>
        <li><a target="_blank" href="http://www.running4free.com/RaceDetails.aspx?raceid=200">Online</a></li>
        <li>By mail (form available <a target="_blank" href="registration.html">here</a>)</li>
        <li>In person, the day of the race</li>
    </ul>
</div>

<div class="kyle">
    <div id="kyle" class="anchor"></div>
    <section class="container">
        <header class="major">
            <h3 class="kyle__title">Kyle's Story</h3>
        </header>
        <p class="kyle-profile column"><img class="kyle__pic" src="assets/images/kyle.jpg" alt="Kyle">We are celebrating the 10th year of the Miles for Kyle Run/Walk for Pediatric Epilepsy. What started as an effort to rally support, strength, and assistance for their 5 month old family member struggling with Pediatric Epilepsy has evolved over the past 10 years into a fundraising and awareness effort to assist and inform families of surgical options and availability around the country as they struggle with their own battles against this terrible disease.

        </p>
        <p class="kyle-profile">Since Kyle's surgery in May of 2007 with Dr. William Bingaman of the Children's Hospital at the Cleveland Clinic, he has suffered only 2 seizures and has not had any in the past 6 years. Kyle is entering the 3rd grade at the Stanley School and continues to develop and learn at an amazing rate. He also played baseball again this year with the Swampscott Little League. He is always listening to music and is even taking piano lessons, having his first recital last spring. He continues to amaze his family and is an inspiration to us all. </p>
    </section>
</div>

<div class="epilepsySurgery">
    <div id="our-cause" class="anchor"></div>
    <section class="container">
        <header class="major">
            <h3 class="epilepsySurgery__title">About Our Cause</h3>
        </header>
        <div class="row double">
            <div class="our-cause__column">
                <header class="major">
                    <h4>Epilepsy Surgery</h4>
                    <p>While brain surgery has been a viable option on adults for many years, it is still a relatively new option for pediatric patients suffering from various epilepsy diagnoses. Miles for Kyle is intended to raise awareness for pediatric epilepsy surgery. Proceeds and contributions will be donated to Dr. Deepak Lachwanni of the Cleveland Clinic's Pediatric Epilepsy Support Group (PESG) to support the ongoing research necessary to assist other pediatric patients and their families.</p>
                    <p>Pediatric epilepsy surgery can be used to treat a highly selected group of patients whose seizures are not controllable by standard means.</p>
                    <p>The appropriate candidate for epilepsy surgery must meet several criteria.</p>
                    <p>There are currently three major categories of epilepsy surgery: resective surgery, corpus collosotomy, and implantation of the vagus nerve stimulator.</p>
                    <p>In patients that meet the requirements for epilepsy surgery the results, in terms of seizure control, can be very positive with minimal side effects and complications.</p>
                </header>
            </div>
            <div class="our-cause__column">
                <h4>Infantile Spasms</h4>
                <p>Infantile spasm (IS) is a specific type of seizure seen in an epilepsy syndrome of infancy and early childhood. The onset is predominantly in the first year of life, typically between 3-6 months. The typical pattern of IS is a sudden bending forward and stiffening of the body, arms, and legs; although there can also be arching of the torso. Spasms tend to begin soon after arousal from sleep. Individual spasms typically last for 1 to 5 seconds and occur in clusters, ranging from 2 to 100 spasms at a time. Infants may have dozens of clusters and several hundred spasms per day. Infantile spasms usually stop by age 5, but are often replaced by other seizure types.</p>
                <h4 class="headline__section2">Treatment for Infantile Spasms</h4>
                <p>Treatment with corticosteroids such as ACTH (adrenocorticotrophic hormone) and prednisone is standard, despite the risk of serious side effects. Newer antiepileptic medications, such as vigabatrin (which has recently received US FDA approval) have shown some efficacy.</p>
            </div>
        </div>
    </section>
</div>

    {{> results}}

    <div class="footer">
        <div class="sponsored-by">Sponsored By:</div>
        <div class="sponsors">
            <a target="_blank" href="http://www.newbalance.com/">New Balance</a>
            <a target="_blank" href="http://www.wholefoodsmarket.com/">Whole Foods</a>
            <a target="_blank" href="http://www.flanneryhandymen.com/">Flannery's Handymen</a>
            <a target="_blank" href="http://www.sirspeedyboston.com/">Sir Speedy</a>
            <a target="_blank" href="http://www.mjrussoconstruction.com/">Russo Construction</a>
            <a target="_blank" href="http://www.elitelacrosse.org/">Elite Lacrosse</a>
        </div>
    </div>


</div>
